<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head('Categories-Shopme Admin')" />
</head>
<body>
	<div class="container-fluid">
	<div th:replace="navigation::menu"></div>
	<div>
			<h2>Manage Categories</h2>
			<a th:href="@{/categories/new}">Create New Category</a>
			&nbsp;|&nbsp;
			<a th:href="@{/categories/export/csv}">Export to csv</a>
			&nbsp;|&nbsp;
			<a th:href="@{/categories/export/excel}">Export to Excel</a>
			&nbsp;|&nbsp;
			<a th:href="@{/categories}">Export to Pdf</a>
		</div>
		<div th:if="${message!=null}" class="alert alert-success text-center">
			[[${message}]]</div>

		<div>
			<form th:action="@{/categories/page/1}" class="form-inline m-3">
				<input type="hidden" name="sortField" th:value="${sortField}"/>
				<input type="hidden" name="sortDir" th:value="${sortDir}"/>
				Filter:&nbsp;
				<input type="search" name="keyword" th:value=${keyword} class="form-control" required/>
				&nbsp;&nbsp;
				<input type="submit" value="Search" class="btn btn-primary"/>
				&nbsp;&nbsp;
				<input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()"/>
			</form>
		</div>
		<div>
			<table
				class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<th>ID</th>
					<th>Category Image</th>
					<th>
						<a class="text-white" th:href="@{'/categories?sortDir='+${reverseSortDir}}">Category Name</a>
						<span th:class="${reverseSortDir=='desc'?'fas fa-sort-up':'fas fa-sort-down'}"></span>
					</th>
					<th>Alias</th>
					<th>Enabled</th>
					<th></th>
				</thead>
				<tbody>
					<tr th:each="category:${listCategories}">
						<td>[[${category.id}]]</td>
						<td>
						<img th:src="@{${category.imagePath}}" style="width:100px" class="img-fluid">
						</td>
						<td>[[${category.name}]]</td>
						<td>[[${category.alias}]]</td>
						<td>[[${category.enabled}]]</td>
						<td>
						<a th:href="@{'/category/edit/'+${category.id}}" title="Edit this category" class="fas fa-edit fa-2x icon-green">
						</a> | Delete</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:replace="fragments::footer"></div>
	</div>
</body>
</html>